.pagination {
    width: 100%;
    max-width: 144rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    list-style: none;
    font-size: 2rem;
    
    a {
        color: white;
        font-weight: 700;
    }

    li {
        cursor: pointer;
        background-color: #5e35d3;
        padding: 1rem 1.6rem;
        border-radius: 1rem;
    }

    .disabled {
        cursor: default;
        opacity: 0.5;
    }

    .selected {
        cursor: default;
        background-color: white;

        a {
            color: #5e35d3;
        }
    }
}