.multfilms {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    &__subtitle {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 7rem;
        color: white;
        margin-bottom: 4rem;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem 6.6rem;
        width: 100%;
        margin-bottom: 4rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        transition: transform 500ms ease;
        height: fit-content;

        .img {
            width: 30rem;
            border-radius: 3rem 3rem 0 0;
            cursor: pointer;
        }
    }

    &__item:hover {
        transform: scale(1.2);
    }

    &__info {
        display: flex;
        width: 30rem;
        align-items: center;
        background-color: black;
        height: fit-content;
    }

    &__rating {
        color: white;
        font-size: 1.8rem;
        margin: 1rem;
        background-color: rgba(115, 115, 115, 0.306);
        border-radius: 3rem;
        padding: 0.5rem;
    }

    &__rating-green {
        border: 2px solid green;
    }

    &__rating-orange {
        border: 2px solid orange;
    }

    &__rating-red {
        border: 2px solid red;
    }

    &__genres,
    &__year,
    &__length {
        color: white;
        font-size: 1.8rem;
        margin-right: 1rem;
    }

    &__buttons {
        display: flex;
        width: 30rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        align-items: center;
        background-color: black;
        height: fit-content;

        .btn_more {
            font-size: 1.8rem;
            padding: 1rem;
            margin: 0 1rem 1rem 1rem;
            width: 15rem;
            border-radius: 3rem;
            border: none;
            background: rgba(94, 53, 211, 1);
            cursor: pointer;
            color: white;
        }

        .btn_more:hover {
            border: 1px solid rgba(192, 192, 192, 0.595);
            box-shadow: 0 0 10px white;
        }

        .btn_favorite {
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: white;
            margin: 0 1rem 1rem 1rem;
        }
    }
}