.spinner {
    position: relative;
    width: 10rem;
    height: 10rem;

    border-radius: 50%;
    border: 10px solid white;
    border-top: 10px solid transparent;

    animation: spinner 3s linear infinite;

    margin-bottom: 5rem;

}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}